*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  display: table;
  content: '';
  clear: both;
}
.white-text a{
  color: white;
}
.f-left{
  float: left;
}
a{
  text-decoration: none;
}
.mrg-bottom-20{
  margin-bottom: 20px;
}
.mrg-left-20{
  margin-left: 20px;
}
.padding-30{
  padding: 30px 0;
}
.list-none li{
  list-style: none;
  padding: 0;
}

.section-container{
  width: 100%;
}
.section-text{
  margin-left: 10px;
}
.section-title{
  color: white;
}
.section-desc{
  color: #7D7F84;
  font-size: 12px;
  font-weight: 600;
  margin: 10px 0;
}
.boxes-container{
  /* TO SEPARATE ROWS WHEN TEXT TOO LONG */
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.level-box-3{
  width: calc(100% / 6);
  float: left;
  text-align: center;
  margin-bottom: 20px;
}.level-box-3 .cover{
  position: relative;
  width: 90%;
  margin: auto;
  /* background-color: white; */
}

.level-box-3 .hover-content{
  visibility: hidden;
  position: absolute;
  display: flex;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}
.level-box-3 .cover:hover .hover-content{
  visibility:visible;
}


.level-box-3 .cover img{
  width: 100%;
}
.level-box-3 .title{
  color: white;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 90%;
  
}
.level-box-3 .description{
  color: #7D7F84;
  font-size: 12px;
  font-weight: 600;
}

/* MAIN */
main{
  height: calc(100vh - 90px);
  width: 100%;
}
/* LEFT MENU */

.left-menu{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 9999;
  width: 250px;
  height: 100%;
  background-color: black;
  color: #707070;
}
.left-menu a{
  color: #707070;
}
.left-menu a:hover{
  color: white;
}
.left-menu .menu-sections{
  padding: 20px 0;
}
.left-menu .menu-sections img{
  width: 30px;
  margin-right: 5px;
}

.left-menu ul{
  list-style:none;
}
.left-menu .menu-sections ul li{
  display: flex;
  align-items: center;
  padding-left: 20px;
  line-height: 40px;
  font-size: smaller;
}
.left-menu ul li.menu-selected{
  border-left: 2px solid #ADFF2F;
  color: white;
}

.left-menu .logo img{
  width: 150px;
}
.left-menu .logo-xs{
  display: none;
}
.left-menu .left-section{
  overflow: auto;
}
.left-menu .left-section .left-section-title{
  color: white;
  margin-bottom: 10px;
}
.create-playlist{
   width: 100%;
   height: 40px;
   line-height: 40px;
   /* background-color: red; */
 }
.create-playlist .plus-box{
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  background-color: #A3A3A3;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
}
.plus-box .plus-symbol{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.left-menu .left-section ul li{
 margin: 10px 0;
}


/* USER */
.left-menu .left-bottom{
  position: relative;
  margin: 0 auto;
  margin-top: auto;
  height: 80px;
  width: 100%;
  padding: 0 20px;

  /* background-color: red; */
}
.left-bottom .row{
  height: 50%;
  line-height: 40px;
  border-bottom: 1px solid white;
} 
.left-bottom .row:last-child{
  border: none;
} 
.left-bottom .user-pic{
  display: inline-block;
  position: relative;
  height: 30px;
  width: 30px;
  background-color: gray;
  border-radius: 50%;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
}
.left-bottom .user-pic img{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  
}
.left-bottom .user-name{
  margin-left: 10px;
  line-height: 40px;
}
/* /LEFT MENU */
main .main-content{
  background-color: #141922;
  height: 100%;
  width: calc(100% - 250px);
  overflow: auto;
}
main .main-content .upgrade{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  /* line-height: 80px; */
  text-align: left;
  color: white;
}
main .main-content .upgrade .upgrade-box{
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 60px;
  cursor: pointer;
}
main .main-content .upgrade .upgrade-box:hover{
  padding: 15px 35px;
}
main .main-content .content{
  margin-top: 80px;
}
.content ul li{
  position: relative;
  padding: 0px 10px;
  padding-top: 10px;
}
.content ul li a{
  text-transform: uppercase;
  color: #7D7F84;
  font-size: 14px;
  font-weight: 700;
}
.content ul li.selected:after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 40px;
  background-color: #ADFF2F;
}
.content .section-menu{
  
  background-color:#141922;
  width: 100%;
  text-align: center;
  line-height: 30px;
}
.content .section-menu ul{
  list-style: none;
}
.content .section-menu ul li{
  display: inline-block;
}


/* POPULAR */
#popular .cover img{
  border-radius: 50%;
}



/* FOOTER */
footer{
  display: flex;
  height: 90px;
  width: 100%;
  background-color: #282828;
}
/* LEFT PLAYER */
footer .left-player{
  display: flex;
  align-items: center;
  width: 200px;
  /* background-color: yellow; */
}

footer .left-player .save-icons{
  margin-left: 10px;
}
footer .left-player .save-icons i:last-child{
  margin-left: 5px;
}
.left-player a{
  color: gray;
}
/* /LEFT PLAYER */

/* CENTER PLAYER */

footer .center-player{
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  width: calc(100% - 400px);
  /* background-color: blue; */
  min-width: 200px;
}
.center-player a{
  color: white;
}
.center-player .row{
  height: 45px;
  line-height: 45px;
  width: 100%;
  /* background-color: white; */
  
  text-align: center;
}
.center-player .row.buttons ul li{
  display: inline;
  margin-left: 20px;
  font-size: 18px;
}

.center-player .total-length{
  position: relative;
  height: 5px;
  width: 40%;
  background-color: #5A5A5A;
  margin: 5px auto;
}
.center-player .total-length::before{
  position: absolute;
  content: '0.00';
  left: -50px;
  top: -20px;
}
.center-player .total-length:after{
  position: absolute;
  content: '4.00';
  right: -50px;
  top: -20px;
}
.center-player .total-length .progress-bar{
  position: relative;
  height: 5px;
  width: 50%;
  background-color: #C1C1C1;
}
.center-player .total-length .progress-bar:after{
    position: absolute;
    left: calc(100% - 5px);
    top: 50%;
    transform: translateY(-50%);
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: orange;
}
/* /CENTER PLAYER */

/* RIGHT PLAYER */

footer .right-player{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 200px;
  /* background-color: red; */
}
.right-player .volume{
  width: 50%;
  height: 5px;
  background-color: #5A5A5A;
  margin-left: 10px;
}
.right-player .volume .volume-progress{
  position: relative;
  width: 30%;
  height: 5px;
  background-color: #C1C1C1
}
.right-player .volume .volume-progress:hover{
  background-color: greenyellow;
}

.right-player .volume .volume-progress::after{
    position: absolute;
    visibility: hidden;
    left: calc(100% - 5px);
    top: 50%;
    transform: translateY(-50%);
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
}
.right-player .volume .volume-progress:hover::after{
  visibility: visible;
}

/* /RIGHT PLAYER */
footer img{
  width: 50px;
  height: 50px;
}

/* ///////////// */

@media all and (max-width:991px){
  .level-box-3{
    width: calc(100% / 4);
  }
  
}
/* PHONE */
@media all and (max-width:767px){
  .level-box-3{
    width: calc(100% / 2);
  }
  main .main-content{
    width: calc(100% - 40px);
  }
  .left-menu{
    width: 40px;
  }
  .left-menu .logo{
    display: none;
  }
  .left-menu .logo-xs{
    display: block;
    width: 70%;
    margin:  0 auto;
    padding: 10px 0;
  }
  .left-menu .hide-xs{
    display: none;
  }
  .left-menu .menu-sections ul li{
    display: block;
    height: 30px;
    padding-left: 0px;
    text-align: center;
  }
  .left-menu .menu-sections ul li img{
    width: 20px;
    
}
.left-menu .left-bottom{
  padding:0 ;
  text-align: center;
}
.left-bottom .user-pic{
  left: 50%;
  transform: translate(-50%,-50%);
}
.center-player .row.buttons ul li{
  margin-left: 12px;
}

}
